$primary-color: #0B0B0B;
$secondary-color: #fff;
$third-color: #38B000;

html,body {
    scroll-behavior: smooth;
    scroll-padding: 50px;
    overflow-x: hidden;
    background-color: $primary-color;
}

.hero {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: $primary-color;
    background-position: center;
    background-size: 75%;
    background-repeat: no-repeat;

    h1 {
        font-family: 'Manrope', sans-serif;
        font-size: 9vw;
        font-weight: bold;
        line-height: 9vw;
        text-transform: uppercase;
        color: $secondary-color;
        text-align: center;
        z-index: 1;
        text-shadow: (0px 0px 10px rgba(0, 0, 0, .25));
    }
}

.about {

    background-color: $primary-color;
    height: 100vh;
    display: flex;
    align-items: center;

    h2 {
        font-size: 20px;
        line-height: 20px;
        font-family: 'Manrope', sans-serif;
        color: $secondary-color;
    }

    h3 {
        font-size: 90px;
        line-height: 96px;
        font-family: 'Manrope', sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        color: $third-color;
    }

    p {
        font-size: 20px;
        line-height: 20px;
        font-family: 'Manrope', sans-serif;
        color: $secondary-color;
    }
}

.button-container {
    display: flex;
    align-items: center;
    position: relative;
    width: 250px;

    a {
        padding: 20px;
        z-index: 1;
        width: 100%;
        height: 100%;
        transition: .3s ease-in-out;
        text-decoration: none;
        color: $secondary-color;
        text-transform: uppercase;
        font-family: 'Manrope', sans-serif;
        font-size: 20px;
    }

    .outline {
        position: absolute;
        height: 55px;
        width: 55px;
        right: 0;
        text-align: center;
        border: 1px solid $secondary-color;
        transition: .3s ease-in-out;
        border-radius: 50px;
        z-index: 0;

        p {
            position: absolute;
            right: 19px;
            top: 50%;
            transform: translateY(-50%);
            font-family: 'Manrope', sans-serif;
            font-size: 25px;
        }
    }

    &:hover .outline {
        width: 100%;
        background-color: $secondary-color;

        p {
            color: $primary-color;
        }
    }

    &:hover a {
        color: $primary-color;
    }
}

.team {
    background-color: $primary-color;

    h2 {
        font-size: 90px;
        line-height: 96px;
        font-family: 'Manrope', sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        color: $third-color;
    }

    .accordion {

        background-color: $primary-color;
        margin-top: 50px;

        &__panel {
            cursor: pointer;
            padding: 25px 0;
            border-top: 3px solid $secondary-color;

            &:last-child {
                border-bottom: 3px solid $secondary-color;
            }

            .name-container {

                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                transition: .3s ease-in-out;

                h3 {
                    color: $secondary-color;
                    font-family: 'Manrope', sans-serif;
                }

                span {
                    width: 25px;
                    height: 3px;
                    display: block;
                    background-color: $secondary-color;

                    &::after {
                        content: "";
                        width: 25px;
                        height: 3px;
                        display: block;
                        background-color: $secondary-color;
                        transform: rotate(90deg);
                        transition: .3s ease-in-out;
                    }
                }
            }

            &__content {
                max-height: 0px;
                transition: .3s ease-in-out;
                overflow: hidden;

                img {
                    object-fit: cover;
                    object-position: center;
                    width: 100%;
                    height: 350px;
                    margin-bottom: 20px;
                }

                p {
                    color: $secondary-color;
                    font-family: 'Manrope', sans-serif;
                    font-size: 20px;
                    line-height: 30px;
                }
            }

            &.panel-open .accordion__panel__content {
                max-height: 500px;
            }

            &.panel-open .name-container {
                margin-bottom: 40px;
            }


            &.panel-open span::after {
                transform: rotate(180deg);
            }
        }
    }
}

footer {
    margin-top: 200px;
    height: 75vh;
    background-color: $third-color;

    .grid-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        
        h2 {
            font-family: 'Manrope', sans-serif;
            font-size: 5.9vw;
            font-weight: bold;
            line-height: 5vw;
            text-transform: uppercase;
            color: $primary-color;
            text-align: center;
        }

        .line {
            width: 100%;
            height: 3px;
            background-color: $primary-color;
            margin-bottom: 10px;
        }

        .space-between {
            display: flex;
            justify-content: space-between;
            width: 100%;

            a {
                color: $primary-color;
                text-transform: uppercase;
                font-size: 20px;
                text-decoration: none;
                transition: .3s ease-in-out;

                &:hover {
                    color: $secondary-color;
                }
            }
        }
    }
}